@model Errs.WebUi.Features.Shared.ErrorInfo


@if (Model != null && Model.Exception != null)
{
    @ExceptionFormat(Model.Exception)
}

@helper ExceptionFormat(Exception ex)
{
    <div class="panel panel-danger">
        <div class="panel-heading">@ex.Message</div>
        <div class="panel-body">
            <small>@ex.StackTrace</small>

            @if (ex.InnerException != null)
            {
                @ExceptionFormat(ex.InnerException)
            }
        </div>
    </div>
}