@model Errs.WebUi.Features.Shared.ErrorInfo
@{
    ViewBag.Title = "Forbidden";
    ViewBag.SubTitle = "You are forbidden from accessing this resource.";
}

<p>You are forbidden from accessing this resource.</p>
<p>Navigte <a href="#">back </a> or return to the @Html.ActionLink("home page", "Index", "Home").</p>