@model Errs.WebUi.Features.Shared.ErrorInfo
@{
    ViewBag.Title = "404!";
    ViewBag.SubTitle = "Page Not Found";
}

<p>The Page you requested could not be found.</p>
<p>Navigte <a href="#">back </a> or return to the @Html.ActionLink("home page", "Index", "Home").</p>