@model Errs.WebUi.Features.Shared.ErrorInfo
@{
    ViewBag.Title = "Unauthorized";
    ViewBag.SubTitle = "You are not authorized to view this page";
}

<p>You are not authorized to view this resource.</p>
<p>Navigte <a href="#">back </a> or return to the @Html.ActionLink("home page", "Index", "Home").</p>